.card-list__header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 24px;
}

@media (max-width: 768px) {
    .card-list__header {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.card-list__title {
    font-size: 15px;
    color: #9191AF;
    text-align: left;
    text-transform: uppercase;
}

.card-list__items {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

/* responsive breakpoints for card-list__items */

@media (max-width: 768px) {
    .card-list__items {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        align-self: flex-start;
        margin-bottom: 24px;
    }
}
